/* HEADER */
header {
    display: flex;
    align-items: center;          
    justify-content: space-between; 
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 8;
    padding-left: 10px;
}
.hero {
    height: 60vh; /* hauteur de la section */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGAz4t4u7cejNNGTLgfA562eQ17358DO2lyw&s");

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.btn-hero {
    display: inline-block;   
    padding: 8px 16px;       
    font-size: 14px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: 500;
}



.btn-hero:hover {
    background-color: hwb(356 45% 4%);
}



/* LOGO */
header img {
    height: 20px;
}

/* NAVIGATION */
.navlist {
    list-style: none;
    display: flex;      
    gap: 25px;          
    margin: 0;
    padding: 0;
}

/* LIENS */
.navlist li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navlist li a:hover {
    color: hsl(357, 100%, 50%);
}
h2 {
    justify-content: center;

    
}
#work {
    display: flex;
    justify-content: center;
    border: #000 1px solid;
}
h2 {
    display: flex;
    justify-content: center;
}
div {
    border-radius: #000 1px solid;
    padding: 10px;
    margin: 10px;

}
.contact-message {
    display: flex;               
    justify-content: space-around;  
    align-items: flex-start;        
    margin: auto;
    padding: 10px;
    border: 1px solid #000;
    background-color: #dd4141;
}

.contact, .message {
    padding: 20px;
    width: 45%;           
    box-sizing: border-box; 
    align-items: center;
    
}
.Footer {
    background-color: black;
    color: #f5f5f5;
    padding: 20px;
}