.navlist {
    list-style: none;
    background-color: #3b3bf2;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    text-align: right;
}

.navlist li {
    display: inline-block;
    margin-left: 20px;
    
}
.navlist li a {
    color: #1b0d04;
    font-family: 'Roboto';
}

.navlist li a:hover {
    color: #ff6600;
    transition: 0.3s;
}
.acceuil {
    background-color: bisque;
    padding: 10px;
    border: 1px solid azure;
}


.acceuil-img, .acceuil-text {
    display: inline-block;
    vertical-align: top; 

}

.acceuil-img {
    width: 300px;       
    height: auto;
    margin-right: 20px;
}

.acceuil-text {
    max-width: 600px;   
}



/* page */
body {
    background-color: bisque;
}

/* titre */
h2 {
    text-align: center;
    font-weight: bold;
    color: #1b0d04;
    border: 2px solid blue;
    padding: 8px 12px;
    background-color: bisque;
}

/* pied de page */
footer {
    font-weight: bold;
    background-color: #3b3bf2;
    border: 2px solid blue;
    padding: 8px 12px;
}
