.navlist {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: #3b3bf2;
    font-weight: bold;
    gap: 20px;
    padding: 20px;
    margin: 0;
}

.navlist li a {
    color: oklab(28.975% -0.01747 -0.19525);
    font-family: 'Roboto', sans-serif;
}

.navlist li a:hover {
    color: #ff6600;
    transition: 0.3s;
}
.acceuil {
    background-color: bisque;
    display: flex;
    gap: 10;
    align-items: flex-start;
    padding: 10;
    border-color: azure;
}
.acceuil-img {
    width: 500px;
    height: 200px;
}
.acceuil-text h1 {
    margin: 10px;
}
.acceuil-text p {
    margin: 10px;
}
body {
    background-color: bisque;

}
h2 {
    text-align: center;
    font-weight: bold;
    color: #1b0d04;
    border: 2px solid blue;
    padding: 8px 12px;
    background-color: bisque;


}
footer {
    font-weight: bold;
    background-color: #3b3bf2;
    border: 2px solid blue;
    padding: 8px 12px;

}


